- content_for :page_title do
  = t('pawoo.admin.report_targets.title')
  = "(残り#{@report_target_count}件)"

.filters
  .filter-subset
    %strong= t('pawoo.admin.report_targets.state')
    %ul
      %li= filter_link_to t('pawoo.admin.report_targets.unresolved'), pending: nil
      %li= filter_link_to t('pawoo.admin.report_targets.pending'), pending: '1'
  .filter-subset
    %strong= t('pawoo.admin.report_targets.media')
    %ul
      %li= filter_link_to t('pawoo.admin.report_targets.all_report'), media: nil
      %li= filter_link_to t('pawoo.admin.report_targets.only_media'), media: '1'

= form_tag admin_pawoo_report_targets_path do
  = hidden_field_tag :pending, 1 if params[:pending] == '1'
  = hidden_field_tag :media, 1 if params[:media] == '1'

  .table-wrapper
    %table.table
      = render partial: 'report_target_group', collection: @report_target_groups

  - if @report_target_groups.size > 0
    %hr/
    = submit_tag t('pawoo.admin.report_targets.submit'), data: { confirm: t('admin.reports.are_you_sure') }, class: 'button'

%nav.pagination
  - if @current_page != @first_page
    %span.prev
      = link_to url_for(page: @first_page, pending: params[:pending]) do
        %i.fa.fa-chevron-left
        %i.fa.fa-chevron-left
        最初
  - if @prev_page
    %span.prev
      = link_to url_for(page: @prev_page, pending: params[:pending]) do
        %i.fa.fa-chevron-left
        前
  - if @next_page
    %span.next
      = link_to url_for(page: @next_page, pending: params[:pending]) do
        次
        %i.fa.fa-chevron-right
  - if @current_page != @last_page
    %span.next
      = link_to url_for(page: @last_page, pending: params[:pending]) do
        %i.fa.fa-chevron-right
        %i.fa.fa-chevron-right
        最後
