%urlset{ xmlns: 'http://www.sitemaps.org/schemas/sitemap/0.9' }
  - @users.each do |user|
    %url
      %loc
        = short_account_url(user.username)
      %lastmod
        = user.updated_at.strftime('%Y-%m-%d')
      %priority
        - if user.followers_count > 5000
          = '1.0'
        - elsif user.followers_count > 3000
          = '0.6'
        - else
          = '0.3'
