- content_for :page_title do
  Mastodon (マストドン) hosted by pixiv

- content_for :header_tags do
  %link{ rel: 'canonical', href: about_url }/
  %script#initial-state{ type: 'application/json' }!= json_escape(@initial_state_json)
  = javascript_pack_tag 'about', integrity: true, crossorigin: 'anonymous'
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'
  = render partial: 'shared/og'

.about-cols
  %section.main
    %h1= image_tag asset_pack_path('pawoo/about/header.png'), alt: 'Pawoo', width: 535

    .about-col-body
      .about-col-body-spacer.top
      %div
        .simple_form
          %button.omniauth-pixiv= t('pawoo.start')

        .form-footer
          %ul.no-list
            %li= link_to t('pawoo.login_email'), new_user_session_path
            %li= link_to t('pawoo.signup_email'), new_user_registration_path

      .about-col-body-spacer

      %p.hide_on_short_display
        ピクシブが運営するマストドンインスタンス「Pawoo」は、文章や画像を投稿して楽しむSNSです。
        「創作活動や自由なコミュニケーションを楽しめる場」として、どなたにも幅広く使っていただけます。

      .about-col-body-spacer.hide_on_short_display

      .about-col-body-apps
        %h2
          %span アプリもあります

        %ul.no-list
          %li
            = link_to 'https://itunes.apple.com/us/app/pawoo/id1229070679' do
              = image_tag asset_pack_path('pawoo/about/badge-appstore.png'), width: 190

          %li
            = link_to 'https://play.google.com/store/apps/details?id=jp.pxv.pawoo' do
              = image_tag asset_pack_path('pawoo/about/badge-googleplay.png'), width: 190

      .about-col-body-spacer.bottom

  - if Setting.timeline_preview
    %section.timeline#mastodon-timeline{ data: { props: Oj.dump(default_props) } }

.info
  %ul.no-list
    %li
      = link_to 'https://www.pixiv.net/' do
        = image_tag asset_pack_path('pawoo/logo_pixiv.png'), alt: 'pixiv', height: '20'
    %li
      = link_to 'https://joinmastodon.org/' do
        = image_tag asset_pack_path('logo_full.svg'), alt: 'Mastodon', class: 'mastodon', height: '24'
  %ul.no-list
    %li
      = link_to t('about.source_code'), @instance_presenter.source_url
      = " (#{@instance_presenter.version_number})"
    %li
      = link_to t('about.about_this'), about_more_path

#modal-container
