.card.h-card.p-author{ style: "background-image: url(#{account.header.url(:original)})" }
  .card__illustration
    = render 'accounts/follow_button', account: account, pawoo_id: 'pawoo-extension-card__follow'
    .avatar= image_tag account.avatar.url(:original), class: 'u-photo'

    .oauth-authentications
      - account.oauth_authentications.each do |oauth_authentication|
        - if oauth_authentication.provider == 'pixiv'
          = link_to "https://www.pixiv.net/member.php?id=#{oauth_authentication.uid}", rel: 'me noopener', target: '_blank' do
            .oauth-authentication.pixiv

  .card__bio
    %h1.name
      %span.p-name.emojify= display_name(account, custom_emojify: true)
      %small<
        %span>< @#{account.local_username_and_domain}
        = fa_icon('lock') if account.locked?

    - if account.bot?
      .roles
        .account-role.bot
          = t 'accounts.roles.bot'
    - elsif Setting.show_staff_badge
      - if account.bootstrap_timeline?
        .roles
          .account-role.admin
            = t 'accounts.roles.admin'

    .bio
      .account__header__content.p-note.emojify= Formatter.instance.simplified_format(account, custom_emojify: true)

      - unless account.fields.empty?
        .account__header__fields
          - account.fields.each do |field|
            %dl
              %dt.emojify{ title: field.name }= field.name
              %dd.emojify{ title: field.value }= Formatter.instance.format_field(account, field.value, custom_emojify: true)

    .details-counters
      .counter{ class: active_nav_class(short_account_url(account)) }
        = link_to short_account_url(account), class: 'u-url u-uid' do
          %span.counter-number= number_to_human account.statuses_count, strip_insignificant_zeros: true
          %span.counter-label= t('accounts.posts')

      .counter{ class: active_nav_class(account_following_index_url(account)) }
        = link_to account_following_index_url(account) do
          %span.counter-number= number_to_human account.following_count, strip_insignificant_zeros: true
          %span.counter-label= t('accounts.following')

      .counter{ class: active_nav_class(account_followers_url(account)) }
        = link_to account_followers_url(account) do
          %span.counter-number= number_to_human account.followers_count, strip_insignificant_zeros: true
          %span.counter-label= t('accounts.followers')
